### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [318]:
# Dependencies and Setup
import pandas as pd
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary


* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [246]:
#create dataframes and arrays needed
school_data_complete_df = pd.DataFrame(school_data_complete)
school_names_array = (school_data_complete_df["school_name"].unique())
school_names_array = (school_data_complete_df["school_name"].unique())

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [300]:
#Create empty list for appending
empty_list = []
#Start for loop for all unique names in school names
for x in school_names_array:
    #Create a temporary dataframe to hold looped data
    x_df = school_data_complete_df.loc[school_data_complete_df["school_name"] == x]
    #Find the school type in a single cell for temp dataframe
    type_school = x_df.iloc[0]["type"]
    #Count the number of lines in the temp dataframe
    no_students = x_df["student_name"].count()
    #Find the school budget in a single cell in the temp dataframe
    total_school_budget = x_df.iloc[0]["budget"]
    #Calculate the per student budget for the temp dataframe
    budget_per_student = total_school_budget/no_students
    #Calculate mean math score for temp dataframe
    avg_math = round(x_df["math_score"].mean(),1)
    #Calculate mean reading score for temp dataframe
    avg_read = round(x_df["reading_score"].mean(),1)
    #Calculate the percentage of students passing math in the temp dataframe, generates Boolean
    math_pass = x_df["math_score"]>=70
    #Calculate the percentage of students passing reading in the temp dataframe, generates Boolean
    read_pass = x_df["reading_score"]>=70
    #Calculate the percentage of students passing both math and reading in the temp dataframe, generates Boolean
    mathread_pass = (x_df["reading_score"]>=70) & (x_df["math_score"]>=70)
    #Count Boolean = true for math_pass in temp dataframe
    true_count_math = sum(math_pass)
    #Count Boolean = true for read_pass in temp dataframe
    true_count_read = sum(read_pass)
    #Count Boolean = true for mathread_pass in temp dataframe
    true_count_mathread = sum(mathread_pass)
    #Calculate passes as % of total students in temp dataframe
    percent_pass_math = round((true_count_math/no_students)*100,2)
    percent_pass_read = round((true_count_read/no_students)*100,2)
    percent_pass_mathread = round((true_count_mathread/no_students)*100,2)
    compile_dict = {
        "School Name": x, 
        "School Type": type_school, 
        "Total Students": no_students, 
        "Total School Budget": total_school_budget, 
        "Per Student Budget": budget_per_student, 
        "Average Math Score": avg_math,
        "Average Reading Score": avg_read, 
        "% Passing Math": percent_pass_math, 
        "% Passing Reading": percent_pass_read, 
        "% Overall Passing": percent_pass_mathread
    }
    empty_list.append(compile_dict)
clean_compiled_df = pd.DataFrame(empty_list)
#change index to school name, sort alphabetically
clean_compiled_df_2 = clean_compiled_df.set_index("School Name")
clean_compiled_df_3 = clean_compiled_df_2.sort_values("School Name") 
#format dictionary to clean up and present values appropriately
format_dict = {"Total Students": "{:,}", "Total School Budget": "${:20,.2f}", "Per Student Budget": "${:20,.2f}", "Average Math Score":"{:,.1f}", 
               "Average Reading Score": "{:,.1f}", "% Passing Math":"{:,.2f}%", "% Passing Reading":"{:,.2f}%",
               "% Overall Passing":"{:,.2f}%"}
#final cleanup, passed in the style dictionary
clean_compiled_df_4 = clean_compiled_df_3.style.format(format_dict)
#Output
clean_compiled_df_4

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [236]:
#Sort
top_df = clean_compiled_df_3.sort_values("% Overall Passing", ascending=False) 
#Show top five
top_5_df = top_df.nlargest(5,"% Overall Passing")
#Format
top_5_df_format = top_5_df.style.format(format_dict)
#Output
top_5_df_format

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [248]:
#Sort
bottom_df = clean_compiled_df_3.sort_values("% Overall Passing") 
#Show bottom five
bottom_5_df = bottom_df.nsmallest(5,"% Overall Passing")
#Format
bottom_5_df_format = bottom_5_df.style.format(format_dict)
#Output
bottom_5_df_format

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [299]:
#Create array for grades
grades_array = (school_data_complete_df["grade"].unique())
#blank df
grade_df = pd.DataFrame()
#Start for loop for all unique names in grades, loop finds avg score by grade and groups by school
for y in grades_array:
    a_df = school_data_complete_df.loc[school_data_complete_df["grade"] == y]
    avg_math = a_df.groupby("school_name")["math_score"].mean()
    grade_df[y]=avg_math  
#Format
grade_df_axis = grade_df.rename_axis("Math Scores")
format_dict_2 = {"9th":"{:,.1f}", "10th":"{:,.1f}", "11th":"{:,.1f}", "12th":"{:,.1f}"}
grade_df_format = grade_df_axis.style.format(format_dict_2)
#Output
grade_df_format

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [301]:
#Create array for grades
grades_array = (school_data_complete_df["grade"].unique())
#blank df
grade_df = pd.DataFrame()

#Start for loop for all unique names in grades, loop finds avg score by grade and groups by school
for y in grades_array:
    a_df = school_data_complete_df.loc[school_data_complete_df["grade"] == y]
    avg_read = a_df.groupby("school_name")["reading_score"].mean()
    grade_df[y]=avg_read
    grade_df
    
#Format
grade_df_axis = grade_df.rename_axis("Reading Scores")
grade_df_format = grade_df_axis.style.format(format_dict_2)
#Output
grade_df_format

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [315]:
#Grab just the columns I want
by_budget_df = clean_compiled_df_3[["Per Student Budget","Average Math Score","Average Reading Score","% Passing Math",
                                   "% Passing Reading","% Overall Passing"]]
#Sort by budget
by_budget_sort_df = by_budget_df.sort_values ("Per Student Budget") 
#Create bins
bins = [0, 584, 629, 644, 675]
#Create grouping labels
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]
#Cut
by_budget_sort_df["Spending Ranges (Per Student)"] = pd.cut(by_budget_sort_df["Per Student Budget"], 
                                                            bins, labels=group_names, include_lowest=True)
#Group by
by_budget_sort_df = by_budget_sort_df.groupby("Spending Ranges (Per Student)")
#Save into new dataframe
by_budget_sort_df_final = by_budget_sort_df.max()
by_budget_sort_df_final_2 = by_budget_sort_df_final.drop(["Per Student Budget"], axis=1)
#Format
by_budget_sort_df_final_format = by_budget_sort_df_final_2.style.format(format_dict)
#Output
by_budget_sort_df_final_format

## Scores by School Size

* Perform the same operations as above, based on school size.

In [317]:
#Grab just the columns I want
by_size_df = clean_compiled_df_3[["Total Students","Average Math Score","Average Reading Score","% Passing Math",
                                   "% Passing Reading","% Overall Passing"]]
#Sort by size
by_size_sort_df = by_size_df.sort_values ("Total Students") 
#Create bins
bins = [0, 1000, 2000, 5000]
#Create grouping labels
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
#Cut
by_size_sort_df["School Size"] = pd.cut(by_size_sort_df["Total Students"], 
                                                            bins, labels=group_names, include_lowest=True)
#Group by
by_size_sort_df = by_size_sort_df.groupby("School Size")
#Save to new dataframe
by_size_sort_df_final = by_size_sort_df.max()
by_size_sort_df_final_2 = by_size_sort_df_final.drop(["Total Students"], axis=1)
#Format
by_size_sort_df_final_format = by_size_sort_df_final_2.style.format(format_dict)
#Output
by_size_sort_df_final_format

## Scores by School Type

* Perform the same operations as above, based on school type

In [304]:
#Pull just the columns I want
by_type_df = clean_compiled_df_3[["School Type","Average Math Score","Average Reading Score","% Passing Math",
                                   "% Passing Reading","% Overall Passing"]]
#Group by
by_type_df = by_type_df.groupby("School Type") 
#Save to new dataframe
by_type_df_final = by_type_df.max()
#Format
by_type_df_final_format = by_type_df_final.style.format(format_dict)
#Output
by_type_df_final_format